<a href="https://colab.research.google.com/github/Jitendra-Dash/Python-For-Data-Science/blob/main/Python_For_Data_Science%20-%20Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python For Data Science - Set
- its an unordered collection of items
- mutable
- can done operations like intersection, symmetric difference , union etc

In [ ]:
# create a set

s = set()
print(type(s))

s = {1,2,3}
print(type(s))

<class 'set'>
<class 'set'>

In [ ]:
# dont store duplicates
s = {1,1,3,4,5,4,6}
print(s)

{1, 3, 4, 5, 6}

In [ ]:
# not support indexing
s[3]

TypeError: 'set' object does not support indexing

In [ ]:
# add and remove

s = {1,2,3}
s.update([3,4,5])
print(s)

s.add(6)
print(s)


s.remove(6)
print(s)

s.pop() # will remove 1st element
print(s)

s.clear()
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}
{2, 3, 4, 5}
set()

In [ ]:
# union
s1 = {1,2,3,4,5,6}
s2 = {5,6,7,8,9}

s3 = s1 | s2
print(s3)

print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# intersection
s1 = {1,2,3,4,5,6}
s2 = {5,6,7,8,9}

s3 = s1 & s2
print(s3)

print(s1.intersection(s2))

{5, 6}
{5, 6}

In [ ]:
# set difference
s1 = {1,2,3,4,5,6}
s2 = {5,6,7,8,9}

s3 = s1 - s2
print(s3)

s3 = s2 - s1
print(s3)

print(s1.difference(s2))

{1, 2, 3, 4}
{8, 9, 7}
{1, 2, 3, 4}

In [ ]:
# symmetric difference
s1 = {1,2,3}
s2 = {1,2,3,4,5}
print(s1^s2)


print(s1.symmetric_difference(s2))

{4, 5}
{4, 5}

In [ ]:
# subset
s1.issubset(s2)

True