<a href="https://colab.research.google.com/github/Jitendra-Dash/Python-For-Data-Science/blob/main/Python_For_Data_Science_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python For Data Science - List

-  Its a sequence Data Structure
-  collection of items
-  Lists are enclosed in [ ]
-  Lists are mutable

In [ ]:
# list creation
lst_1 = list()
print(type(lst_1))

lst_2 = []
print(type(lst_2))

<class 'list'>
<class 'list'>

In [ ]:
lst_1 = ['a', 'b','c']# we can store string
lst_2 = [1,2,3,4]# integer
lst_3 = ['a',1,'b',2]# integer and string # different data type
lst_4 = ["one",2,3.2,"four"]

print(lst_1)
print(lst_2)
print(lst_3)
print(lst_4)

['a', 'b', 'c']
[1, 2, 3, 4]
['a', 1, 'b', 2]
['one', 2, 3.2, 'four']

In [ ]:
# update the list

lst_1.extend('d')
print(lst_1)

lst_1.append('e')
print(lst_1)

lst_1[2]  = "k"
print(lst_1)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 'e']
['a', 'b', 'k', 'd', 'e']

In [ ]:
#remove
lst_1.remove('k')
print(lst_1)

['a', 'b', 'd', 'e']

In [ ]:
# append and extend

# append added to the end
# extend will merge 2 list

a = ['one','two','three']
b = [4,5,6]
a.append(b)
print(a)

l = ['one','two','three']
k = ['four','five']
l.extend(k)
print(l)

m = ['one','two','three']
n = ['four','five']
z = m+n
print(z)

['one', 'two', 'three', [4, 5, 6]]
['one', 'two', 'three', 'four', 'five']
['one', 'two', 'three', 'four', 'five']

In [ ]:
# remove, delete and pop

a = ['one','one','two','three','four']
print(a)
a.remove('one')# remove the first occurance
print(a)

del a[0] # index 
print(a)

a.pop(0) #index
print(a)

['one', 'one', 'two', 'three', 'four']
['one', 'two', 'three', 'four']
['two', 'three', 'four']
['three', 'four']

In [ ]:
# length
a = ['one','one','two','three','four']
len(a)

5

In [ ]:
# reverse

a.reverse()
print(a)

['four', 'three', 'two', 'one', 'one']

In [ ]:
# sorting
# https://docs.python.org/3/howto/sorting.html

a = [4,8,1,0,3,6,8]
b = sorted(a )
print(b)

# in descending order
k = sorted(a , reverse = True)
print(k)

[0, 1, 3, 4, 6, 8, 8]
[8, 8, 6, 4, 3, 1, 0]

In [ ]:
# split
lst = "this is Summing Up AI"

lst1 = lst.split()
print(lst1)

['this', 'is', 'Summing', 'Up', 'AI']

In [ ]:
# indexing
a = ['one','one','two','three','four']
print(a[1])
print(a[-1])

one
four

In [ ]:
# slicing : access a given part of the list

a = ['one','two','three','four','five']

print(a[:])# print all
print(a[2:4])
print(a[::2])

['one', 'two', 'three', 'four', 'five']
['three', 'four']
['one', 'three', 'five']

In [ ]:
# loop in list

a = ['one','two','three']

for i in a:
    print(i)

one
two
three

In [ ]:
#list Comprehension
lst = [1,2,3,4]

# normal way
a = list()
for i in lst:  
    a.append(i**2)
print(a)

#Comprehension
pwr = [i**2 for i in lst ]
print(pwr)

[1, 4, 9, 16]
[1, 4, 9, 16]